In [ ]:
  Explain with an example each when to use a for loop and a while loop

In [ ]:
for loop: When we have a block of code which we want to repeat a fixed number of time.
While loop :In Python programming, we use while loops to do a task a certain number of times repeatedly. The while loop checks a condition and executes the task as long as that condition is satisfied. The loop will stop its execution once the condition becomes not satisfied.

In [2]:
for i in range (5,0,-1):
    
    print (i)

5
4
3
2
1

In [4]:
n = 10
i = 1
while (i<n):
    print (i,end = " ")
    i +=1

1 2 3 4 5 6 7 8 9

In [ ]:
Write a python program to print the sum and product of the first 10 natural numbers using for 
and while loop

In [5]:
sum =0
for i in range (1,11):
    sum = sum +i
print ("sum","=",sum)

sum = 55

In [6]:
product =1
for i in range (1,11):
    product = product*i
print ("product","=",product)

product = 3628800

In [13]:
product =1
count=10
while count>0:
    product = product*count
    count= count-1
print(product)

3628800

In [4]:
sum =0
count=10
while count>0:
    sum = sum +count
    count=count-1
print ("sum","=",sum)

sum = 55

In [ ]:
 Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist

In [1]:
s="I want to become a data scientist"

In [4]:
len(s)

33

In [8]:
count =0
for i in range(len(s)):
    if s[i]=='a'or s[i]=='A':
        count = count+1
    
    elif s[i]=='e'or s[i]=='E':
        count = count+1
    
    elif s[i]=='i'or s[i]=='I':
        count = count+1
    elif s[i] == 'o' or s[i]=='O':
        count= count +1
    elif s[i] == 'u' or s[i]=='U':
        count =count +1
print("Total number of vowel is :",count)

Total number of vowel is : 12

In [ ]:
Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list

In [12]:
l1=[]
for i in range(1,101):
    Cube = i*i*i
    if Cube%4==0 or Cube%5==0:
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]